* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header-height: 100px;
    /* hauteur du header à adapter si besoin */
}

header {
    position: fixed;

    top: 0;
    left: 0;
    right: 0;
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    z-index: 1000;

    backdrop-filter: blur(4px);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
    background-color: rgba(185, 175, 219, 0.363);
}

/* Main : laisse exactement la place du header et prend le reste de la fenêtre */
main {
    margin-top: var(--header-height);
    /* décale le main sous le header */
    padding: 0;
    min-height: calc(100vh - var(--header-height));
    /* plein écran moins le header */
}



.nav-bar {
    display: flex;

}


.nav-bar li {
    margin: 0 15px;
    list-style: none;
    font-size: 1.3rem;
}

.nav-bar li a {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    position: relative;
}


.nav-bar li a::before {
    position: absolute;
    top: -5px;
    left: 0;
    content: "";
    width: 0;
    height: 2px;
    border-radius: 6px;
    background-color: rgba(238, 98, 238, 0.74);
    transition: 0.5s;
}

.nav-bar li a:hover::before {
    width: 100%;
}

.nav-bar li a::after {
    position: absolute;
    bottom: -5px;
    right: 0;
    content: "";
    width: 0;
    height: 2px;
    border-radius: 6px;
    background-color: white;
    transition: 0.5s;
}

.nav-bar li a:hover::after {
    width: 100%;
}

.moi {

    font-size: 1.5rem;

}

.moi span {
    margin: 15px;
    margin-top: 30px;
    font-size: 1.8rem;
    color: rgb(231, 23, 231);
    font-weight: bold;
}



body {
    background: rgba(233, 233, 245, 0.425);

}